openapi: 3.0.3
info:
  title: CruiseFeed API
  version: "1.0.0"
  description: >
    The CruiseFeed API delivers normalized cruise inventory data — cruise lines,
    ships, sailing dates, day-by-day itineraries, ports of call and lead-in
    pricing — as a clean JSON or CSV REST API, refreshed up to daily.


    Built for travel agencies, OTAs, cruise-comparison sites and data
    aggregators who would rather consume one normalized feed than build and
    maintain scrapers. Every record has a stable natural key (`source` +
    `source_id`) and one schema across all cruise lines.


    Get an API key and free sample at https://cruisefeed.io.
  termsOfService: https://cruisefeed.io
  contact:
    name: CruiseFeed
    url: https://cruisefeed.io
    email: support@cruisefeed.io
  license:
    name: Proprietary — data licensed per the CruiseFeed subscription terms
    url: https://cruisefeed.io

servers:
  - url: https://api.cruisefeed.io
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Cruises
    description: Search, export and retrieve sailings.
  - name: History
    description: Price & availability change tracking.
  - name: Reference
    description: Public reference lists (no API key required).

paths:
  /cruises:
    get:
      tags: [Cruises]
      summary: List & filter cruises
      description: >
        Paginated, filterable list of sailings. The workhorse endpoint —
        combine any of the filters below. Results are deduplicated by default.
      operationId: listCruises
      parameters:
        - { name: source, in: query, schema: { type: string }, description: "Source/site key, e.g. cruisemapper." }
        - { name: cruise_line, in: query, schema: { type: string }, description: "Exact cruise line name (see GET /cruise-lines)." }
        - { name: ship_name, in: query, schema: { type: string }, description: "Exact ship name." }
        - { name: embark_port, in: query, schema: { type: string }, description: "Departure (embarkation) port." }
        - { name: region, in: query, schema: { type: string }, description: "Destination/region, partial match (e.g. Caribbean)." }
        - { name: departure_from, in: query, schema: { type: string, format: date }, description: "Sailings departing on/after (YYYY-MM-DD)." }
        - { name: departure_to, in: query, schema: { type: string, format: date }, description: "Sailings departing on/before (YYYY-MM-DD)." }
        - { name: min_price, in: query, schema: { type: number }, description: "Minimum lead-in price." }
        - { name: max_price, in: query, schema: { type: number }, description: "Maximum lead-in price." }
        - { name: min_nights, in: query, schema: { type: integer }, description: "Minimum nights." }
        - { name: max_nights, in: query, schema: { type: integer }, description: "Maximum nights." }
        - { name: round_trip, in: query, schema: { type: boolean }, description: "Only round-trip (true) or one-way (false)." }
        - { name: dedupe, in: query, schema: { type: boolean, default: true }, description: "Collapse duplicate sailings. Default true." }
        - { name: sort, in: query, schema: { type: string, default: departure_date }, description: "Sort field. Default departure_date." }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 50 }, description: "Page size, 1–200." }
        - { name: offset, in: query, schema: { type: integer, default: 0 }, description: "Rows to skip." }
      responses:
        "200":
          description: A page of sailings.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CruiseList" }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /cruises.csv:
    get:
      tags: [Cruises]
      summary: Export cruises as CSV
      description: Same filters as `GET /cruises`, streamed as a CSV file for spreadsheets and warehouse loads.
      operationId: exportCruisesCsv
      parameters:
        - { name: source, in: query, schema: { type: string } }
        - { name: cruise_line, in: query, schema: { type: string } }
        - { name: ship_name, in: query, schema: { type: string } }
        - { name: embark_port, in: query, schema: { type: string } }
        - { name: region, in: query, schema: { type: string } }
        - { name: departure_from, in: query, schema: { type: string, format: date } }
        - { name: departure_to, in: query, schema: { type: string, format: date } }
        - { name: min_price, in: query, schema: { type: number } }
        - { name: max_price, in: query, schema: { type: number } }
        - { name: min_nights, in: query, schema: { type: integer } }
        - { name: max_nights, in: query, schema: { type: integer } }
        - { name: round_trip, in: query, schema: { type: boolean } }
        - { name: dedupe, in: query, schema: { type: boolean, default: true } }
      responses:
        "200":
          description: CSV export.
          content:
            text/csv:
              schema: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /cruises/{source}/{source_id}:
    get:
      tags: [Cruises]
      summary: Get a single cruise
      description: Fetch one sailing by its natural key (`source` + `source_id`), returned on every record.
      operationId: getCruise
      parameters:
        - { name: source, in: path, required: true, schema: { type: string }, description: "Source/site key, e.g. cruisemapper." }
        - { name: source_id, in: path, required: true, schema: { type: string }, description: "The source's id for the sailing." }
      responses:
        "200":
          description: The sailing.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Cruise" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /cruises/{source}/{source_id}/history:
    get:
      tags: [History]
      summary: Price & availability history
      description: Point-in-time price snapshots for a sailing, oldest to newest — track how a fare has moved.
      operationId: getCruiseHistory
      parameters:
        - { name: source, in: path, required: true, schema: { type: string } }
        - { name: source_id, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Price history for the sailing.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CruiseHistory" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /changes:
    get:
      tags: [History]
      summary: Recent price changes
      description: Sailings whose price changed between the two most recent snapshots — ideal for fare-drop alerts.
      operationId: listChanges
      parameters:
        - { name: since, in: query, schema: { type: string, format: date }, description: "Only changes on/after this date (YYYY-MM-DD)." }
        - { name: source, in: query, schema: { type: string }, description: "Filter by source/site key." }
        - { name: cruise_line, in: query, schema: { type: string }, description: "Filter by cruise line." }
        - { name: limit, in: query, schema: { type: integer, default: 100 } }
        - { name: offset, in: query, schema: { type: integer, default: 0 } }
      responses:
        "200":
          description: Recent price changes.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/PriceChange" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /cruise-lines:
    get:
      tags: [Reference]
      summary: List cruise line names
      description: Distinct cruise line names in the feed. No API key required.
      operationId: listCruiseLines
      security: []
      responses:
        "200":
          description: Cruise line names.
          content:
            application/json:
              schema: { type: array, items: { type: string } }
              example: ["AIDA Cruises", "Carnival", "MSC Cruises", "Royal Caribbean", "Viking"]

  /ships:
    get:
      tags: [Reference]
      summary: List ship names
      description: Distinct ship names in the feed. No API key required.
      operationId: listShips
      security: []
      responses:
        "200":
          description: Ship names.
          content:
            application/json:
              schema: { type: array, items: { type: string } }

  /ports:
    get:
      tags: [Reference]
      summary: List departure ports
      description: Distinct embarkation ports in the feed. No API key required.
      operationId: listPorts
      security: []
      responses:
        "200":
          description: Port names.
          content:
            application/json:
              schema: { type: array, items: { type: string } }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your CruiseFeed API key. Get one at https://cruisefeed.io.

  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { detail: "Invalid or missing API key." }
    NotFound:
      description: No matching record.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { detail: "Not found." }

  schemas:
    Cruise:
      type: object
      description: A single sailing, normalized across all cruise lines.
      properties:
        source: { type: string, example: cruisemapper, description: "Source/site key." }
        source_id: { type: string, example: msc-world-europa-2026-09-12, description: "Natural key within the source." }
        cruise_line: { type: string, example: MSC Cruises }
        ship_name: { type: string, example: MSC World Europa }
        title: { type: string, example: 7-Night Western Mediterranean }
        departure_date: { type: string, format: date, example: "2026-09-12" }
        return_date: { type: string, format: date, example: "2026-09-19" }
        duration_days: { type: integer, example: 8 }
        nights: { type: integer, example: 7 }
        round_trip: { type: boolean, example: true }
        embark_port: { type: string, example: Barcelona }
        disembark_port: { type: string, example: Barcelona }
        region: { type: string, example: Western Mediterranean }
        price_amount: { type: number, example: 799 }
        price_currency: { type: string, example: USD }
        price_per_night: { type: number, example: 114.14 }
        itinerary:
          type: array
          items: { $ref: "#/components/schemas/ItineraryStop" }
        scraped_at: { type: string, format: date-time, example: "2026-06-28T04:12:00Z" }

    ItineraryStop:
      type: object
      properties:
        day: { type: integer, example: 2 }
        port: { type: string, example: Marseille }
        country: { type: string, example: France }

    CruiseList:
      type: object
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Cruise" }
        total: { type: integer, example: 1843, description: "Total matches across all pages." }
        limit: { type: integer, example: 50 }
        offset: { type: integer, example: 0 }

    HistoryPoint:
      type: object
      properties:
        snapshot_date: { type: string, format: date, example: "2026-06-15" }
        price_amount: { type: number, example: 849 }
        price_currency: { type: string, example: USD }
        price_per_night: { type: number, example: 121.29 }
        nights: { type: integer, example: 7 }
        captured_at: { type: string, format: date-time, example: "2026-06-15T04:10:00Z" }

    CruiseHistory:
      type: object
      properties:
        source: { type: string, example: cruisemapper }
        source_id: { type: string, example: msc-world-europa-2026-09-12 }
        points:
          type: array
          items: { $ref: "#/components/schemas/HistoryPoint" }

    PriceChange:
      type: object
      properties:
        source: { type: string, example: cruisemapper }
        source_id: { type: string, example: msc-world-europa-2026-09-12 }
        cruise_line: { type: string, example: MSC Cruises }
        ship_name: { type: string, example: MSC World Europa }
        departure_date: { type: string, format: date, example: "2026-09-12" }
        old_price: { type: number, example: 849 }
        new_price: { type: number, example: 799 }
        price_currency: { type: string, example: USD }
        old_date: { type: string, format: date, example: "2026-06-15" }
        new_date: { type: string, format: date, example: "2026-06-28" }

    Error:
      type: object
      properties:
        detail: { type: string, example: "Invalid or missing API key." }
